# dependencies
node_modules/
.pnp
.pnp.js

# next.js
frontend/.next/
frontend/out/

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/

# database
*.db
*.sqlite3

# os
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# logs
*.log
npm-debug.log*
